# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/

# Build
dist/
dist-ssr/
.vite/

# Ambiente
.env
.env.*

# Local configs
*.local

# Cache
*.cache
coverage/

# Docker
.dockerignore
docker-compose.override.yml

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Sistema
.DS_Store
Thumbs.db

# Outros
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?