/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variáveis globais */
:root {
  --nav-height: 80px;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Evita scroll lateral */
html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Estilo base do site */
body {
  width: 100%;
  background-color: #08060d;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Corrige offset do scroll (header fixo) */
section {
  scroll-margin-top: var(--nav-height);
}