* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-height: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #08060d;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
}

section {
  scroll-margin-top: var(--nav-height);
}