/* Reseta margens do navegador e do Vite */
:root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #08060d;
  overflow-x: hidden; /* Evita barra de rolagem lateral */
}

#root {
  width: 100%;
  max-width: none !important; /* Remove a trava de 1280px do Vite */
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Para a rolagem ser suave */
}

section {
  /* Ajuste o valor (ex: 80px) para a altura exata da sua Navbar */
  scroll-margin-top: 80px; 
  scroll-behavior: smooth;
}