/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variáveis globais */
:root {
  --nav-height: 80px;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #08060d;
}

/* Container React */
#root {
  width: 100%;
}

/* Ajuste para navegação por âncora */
section {
  scroll-margin-top: var(--nav-height);
}